.header, .nav, .main, .sidebar, .advertise, .footer{
    background-color: bisque;
    border: 1px solid rgb(0, 81, 255);
    border-radius: 5px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
    padding: 30px;
}
.sidebar{
    grid-area: sidebar;
}
.advertise{
    grid-area: advertise;
}
.footer{
    grid-area: footer;
}
.nav, .sidebar, .advertise{
    height: auto;
    width: 150px;
}
.nav ul{
    /* display: flex;
    flex-direction: column; */
    margin: 10px 30px 0px -30px;
}
.nav ul li{
    list-style: none;

}
.container{
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "header header header header"
    "nav main main sidebar"
    "nav main main advertise"
    "footer footer footer footer"
    ;
}
/* Simple Responsive Design */
@media screen and (max-width: 576px) {
    .container{
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "sidebar"
        "advertise"
        "footer"
        ;
    }
    
}
@media screen and (min-width: 576px) and (max-width:992px) {
    .container{
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "sidebar sidebar advertise"
        "footer footer footer"
        ;
    }
}